<!-- <h1>hello world</h1>
<app-rooms></app-rooms> -->

<!--this container help keep things align same header, body and footer-->
<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>this is from ng-Content</h1>
</app-container>

<div #name></div> -->

<!-- <div [ngSwitch]="Role">
  <div *ngSwitchCase="'User'">welcome User</div>
  <div *ngSwitchCase="'Admin'">Weclome Admin
  <app-rooms></app-rooms></div>
  <div *ngSwitchDefault>
    Not allowed here boi -->
<!-- </div>
</div> -->

<!-- <div>
  <ng-template #user></ng-template>
</div> -->

<a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a>

<app-app-nav></app-app-nav>
